{$API_DOMAIN} {
  encode zstd gzip
  request_body {
    max_size 64KB
  }
  header {
    Strict-Transport-Security "max-age=31536000"
    X-Content-Type-Options nosniff
    -Server
  }
  reverse_proxy api:3100 {
    header_up X-Real-IP {remote_host}
    flush_interval -1
  }
}
